#set( $setterMethodName = "with${field.camelCaseName}" )
    public $builderClassName $setterMethodName(${builderMethod.genericTypeName} ${field.name}) $builderMethod.methodExceptionsSignature
    {
#set( $setterMethodParameters = "($field.name)")
        this.theObject.set${field.camelCaseName}($field.name);
        if(updateListener != null)
        {
            updateListener.$setterMethodName(theObject, ${field.name});
        }
        return this;
    }

